<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.gencode.dao.MytreeDao">
	<!--数据权限-->
	<sql id="authPageSql">
		<!-- 数据权限 -->
		<if test="(pd.auth_organize_ids == null or pd.auth_organize_ids.size == 0) and (pd.auth_user != null and pd.auth_user != '')">
			and a.create_user=#{pd.auth_user}
		</if>
		<if test="pd.auth_organize_ids != null and pd.auth_organize_ids.size > 0">
			and (a.create_user=#{pd.auth_user} or a.create_organize in
			<foreach collection="pd.auth_organize_ids" item="organize_id" open="(" separator="," close=")">
			#{organize_id}
			</foreach>
			)
		</if>
	</sql>
	<sql id="authPdSql">
		<!-- 数据权限 -->
		<if test="(auth_organize_ids == null or auth_organize_ids.size == 0) and (auth_user != null and auth_user != '')">
			and a.create_user=#{auth_user}
		</if>
		<if test="auth_organize_ids != null and auth_organize_ids.size > 0">
			and (a.create_user=#{auth_user} or a.create_organize in
			<foreach collection="auth_organize_ids" item="organize_id" open="(" separator="," close=")">
			#{organize_id}
			</foreach>
			)
		</if>
	</sql>


	<!--查询分页列表-->
	<select id="findListPage" parameterType="com.qingfeng.util.Page" resultType="com.qingfeng.util.PageData">
		select
            a.parent_id as "parent_id",
            ifnull(b.num,0) as "child_num",
			a.id as "id",
			a.type as "type",
			a.name as "name",
			a.short_name as "short_name",
			a.status as "status",
			a.order_by as "order_by",
			a.remark as "remark",
			a.create_time as "create_time",
			a.create_user as "create_user",
			a.create_organize as "create_organize",
			a.update_user as "update_user",
			a.update_time as "update_time"
			from gencode_mytree a
        left join (
        select
        count(*) as "num",
        a.parent_id as "parent_id"
        from gencode_mytree a
        group by a.parent_id
        ) b on a.id=b.parent_id
			where 1=1
			<if test="pd.status != null and pd.status != ''">
				and a.status = #{pd.status}
			</if>
			<if test="pd.type != null and pd.type != ''">
				and a.type = #{pd.type}
			</if>
            <if test="pd.parent_id != null and pd.parent_id != ''">
                and a.parent_id = #{pd.parent_id}
            </if>
			<include refid="authPageSql"></include>
			order by  a.status+0 asc, a.create_time desc
	</select>

    <!--查询分页数量-->
    <select id="findListSize" parameterType="com.qingfeng.util.Page" resultType="Integer">
        select
        count(*)
        from gencode_mytree a
        where 1=1
        <if test="pd.status != null and pd.status != ''">
            and a.status = #{pd.status}
        </if>
        <if test="pd.type != null and pd.type != ''">
            and a.type = #{pd.type}
        </if>
        <if test="pd.parent_id != null and pd.parent_id != ''">
            and a.parent_id = #{pd.parent_id}
        </if>
        <include refid="authPageSql"></include>
    </select>

    <!--查询列表-->
    <select id="findList" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
        select
			a.parent_id as "parent_id",
            ifnull(b.num,0) as "child_num",
			a.id as "id",
			a.type as "type",
			a.name as "name",
			a.short_name as "short_name",
			a.status as "status",
			a.order_by as "order_by",
			a.remark as "remark",
			a.create_time as "create_time",
			a.create_user as "create_user",
			a.create_organize as "create_organize",
			a.update_user as "update_user",
			a.update_time as "update_time"
			from gencode_mytree a
			left join (
				select
				count(*) as "num",
				a.parent_id as "parent_id"
				from gencode_mytree a
				group by a.parent_id
			) b on a.id=b.parent_id
			where 1=1
			<if test="status != null and status != ''">
				and a.status = #{status}
			</if>
			<if test="type != null and type != ''">
				and a.type = #{type}
			</if>
			<if test="parent_id != null and parent_id != ''">
				and a.parent_id = #{parent_id}
			</if>
			<include refid="authPdSql"></include>
			order by  a.status+0 asc, a.create_time desc
    </select>
	
	<!--查询详情-->
	<select id="findInfo" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
		select
			a.parent_id as "parent_id",
			b.name as "parent_name",
			a.id as "id",
			a.type as "type",
			a.name as "name",
			a.short_name as "short_name",
			a.status as "status",
			a.order_by as "order_by",
			a.remark as "remark",
			a.create_time as "create_time",
			a.create_user as "create_user",
			a.create_organize as "create_organize",
			a.update_user as "update_user",
			a.update_time as "update_time"
			from gencode_mytree a
			left join gencode_mytree b on a.parent_id=b.id
			where a.id=#{id}
	</select>
	
	<!--保存-->
	<insert id="save" parameterType="com.qingfeng.util.PageData">
		insert into gencode_mytree (
			parent_id,
			id,
			type,
			name,
			short_name,
			status,
			order_by,
			remark,
			create_time,
			create_user,
			create_organize,
			update_user,
			update_time
		) values (
			#{parent_id,jdbcType=VARCHAR},
			#{id,jdbcType=VARCHAR},
			#{type,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{short_name,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{order_by,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			#{create_time,jdbcType=VARCHAR},
			#{create_user,jdbcType=VARCHAR},
			#{create_organize,jdbcType=VARCHAR},
			#{update_user,jdbcType=VARCHAR},
			#{update_time,jdbcType=VARCHAR}
		)
	</insert>
	
	<!--更新-->
	<update id="update" parameterType="com.qingfeng.util.PageData">
		update gencode_mytree set
			<if test="id != null">id=#{id},</if>
			<if test="type != null">type=#{type},</if>
			<if test="name != null">name=#{name},</if>
			<if test="short_name != null">short_name=#{short_name},</if>
			<if test="status != null">status=#{status},</if>
			<if test="order_by != null">order_by=#{order_by},</if>
			<if test="remark != null">remark=#{remark},</if>
			<if test="update_user != null">update_user=#{update_user},</if>
			update_time=#{update_time}
			where id=#{id}
	</update>
	
    <!--删除-->
    <delete id="del" parameterType="String">
        delete from gencode_mytree where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
        </foreach>
    </delete>

	<!--更新状态-->
	<update id="updateStatus" parameterType="com.qingfeng.util.PageData">
		update gencode_mytree set
			<if test="status != null">status=#{status},</if>
			<if test="update_user != null">update_user=#{update_user},</if>
			update_time=#{update_time}
			where 1=1
			<if test="id != null and id != ''">
				and id=#{id}
			</if>
	</update>


    <!--查询是否存在子节点-->
	<select id="findContainChildList" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
		select
			a.id as "id",
			a.name as "name",
			b.num as "num"
			from gencode_mytree a
			left join (
				select
				count(*) as "num",
				a.parent_id as "parent_id"
				from
				gencode_mytree a
				group by a.parent_id
			) b on a.id=b.parent_id
			where a.id in
			<foreach collection="idList" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
	</select>
</mapper>