<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.system.dao.GenCodeDao">

	<!--=================================查询数据库表信息且初始化================================================-->
	<!--查询数据表原信息分页列表-->
	<select id="findTableListPage" parameterType="com.qingfeng.util.Page" resultType="com.qingfeng.util.PageData">
		select
			a.table_name,
			a.table_comment,
			a.create_time,
			a.update_time
			from information_schema.tables a
			where a.table_schema=#{pd.table_schema}
			and a.table_type='base table' and
			a.table_name not like 'qrtz_%' and a.table_name not like 'system_%' and a.table_name not like 'act_%'
			and a.table_name not in (
				select table_name from system_gentable
			)
			<if test="pd.table_name != null and pd.table_name != ''">
				and a.table_name like concat('%',concat(#{pd.table_name},'%'))
			</if>
			<if test="pd.table_comment != null and pd.table_comment != ''">
				and a.table_comment like concat('%',concat(#{pd.table_comment},'%'))
			</if>
			<if test="pd.start_time != null and pd.start_time != ''">
				and a.create_time >= #{pd.start_time}
			</if>
			<if test="pd.end_time != null and pd.end_time != ''">
				and a.create_time <![CDATA[ <= ]]> #{pd.end_time}
			</if>
	</select>
	

    <!--查询数据表原信息分页数量-->
    <select id="findTableListSize" parameterType="com.qingfeng.util.Page" resultType="Integer">
		select
		count(*)
		from information_schema.tables a
		where a.table_schema=#{pd.table_schema}
		and a.table_type='base table' and
		a.table_name not like 'qrtz_%' and a.table_name not like 'system_%' and a.table_name not like 'act_%'
		and a.table_name not in (
			select table_name from system_gentable
		)
		<if test="pd.table_name != null and pd.table_name != ''">
			and a.table_name like concat('%',concat(#{pd.table_name},'%'))
		</if>
		<if test="pd.table_comment != null and pd.table_comment != ''">
			and a.table_comment like concat('%',concat(#{pd.table_comment},'%'))
		</if>
		<if test="pd.start_time != null and pd.start_time != ''">
			and a.create_time >= #{pd.start_time}
		</if>
		<if test="pd.end_time != null and pd.end_time != ''">
			and a.create_time <![CDATA[ <= ]]> #{pd.end_time}
		</if>
    </select>

	<!--查询数据表原信息分页列表-->
	<select id="findTableList" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
		select
		a.table_name,
		a.table_comment,
		a.create_time,
		a.update_time
		from information_schema.tables a
		where a.table_schema=#{table_schema}
		and a.table_type='base table' and
		a.table_name not like 'qrtz_%' and a.table_name not like 'system_%' and a.table_name not like 'act_%'
		and a.table_name in
		<foreach collection="table_names" item="table_name" open="(" separator="," close=")">
			#{table_name}
		</foreach>
	</select>

	<update id="updateComment" parameterType="com.qingfeng.util.PageData">
		  alter table ${table_name} comment #{table_comment,jdbcType=VARCHAR}
	</update>

    <!--查询字段表原信息列表-->
    <select id="findColumndList" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
		select
			a.column_name,
			a.column_comment,
			a.ordinal_position,
			a.column_default,
			a.is_nullable,
			a.data_type,
			a.column_type
			from information_schema.columns a
			where a.table_schema=#{table_schema}
			and a.table_name=#{table_name}
    </select>

	<!--保存-导入保存数据表-->
	<insert id="saveTable" parameterType="com.qingfeng.util.PageData">
		insert into system_gentable (id,type,table_name,table_comment,temp_type,pack_path,mod_name,bus_name,menu_name,menu_id,gen_type,gen_path,more_add,status_type,tree_id,tree_pid,tree_name,order_by,remark,create_time,create_user,create_organize)
			<foreach collection="list" item="item" separator="UNION ALL" >
				SELECT
				#{item.id,jdbcType=VARCHAR},
				#{item.type,jdbcType=VARCHAR},
				#{item.table_name,jdbcType=VARCHAR},
				#{item.table_comment,jdbcType=VARCHAR},
				#{item.temp_type,jdbcType=VARCHAR},
				#{item.pack_path,jdbcType=VARCHAR},
				#{item.mod_name,jdbcType=VARCHAR},
				#{item.bus_name,jdbcType=VARCHAR},
				#{item.menu_name,jdbcType=VARCHAR},
				#{item.menu_id,jdbcType=VARCHAR},
				#{item.gen_type,jdbcType=VARCHAR},
				#{item.gen_path,jdbcType=VARCHAR},
				#{item.more_add,jdbcType=VARCHAR},
				#{item.status_type,jdbcType=VARCHAR},
				#{item.tree_id,jdbcType=VARCHAR},
				#{item.tree_pid,jdbcType=VARCHAR},
				#{item.tree_name,jdbcType=VARCHAR},
				#{item.order_by,jdbcType=VARCHAR},
				#{item.remark,jdbcType=VARCHAR},#{item.create_time,jdbcType=VARCHAR},#{item.create_user,jdbcType=VARCHAR},#{item.create_organize,jdbcType=VARCHAR}
				from dual
			</foreach>
	</insert>

	<!--保存-导出保存字段表-->
	<insert id="saveField" parameterType="com.qingfeng.util.PageData">
		insert into system_genfield (id,type,table_id,field_name,field_comment,field_type,field_operat,field_list,field_query,query_type,verify_rule,show_type,option_content,default_value,order_by,remark,create_time,create_user,create_organize)
		<foreach collection="list" item="item" separator="UNION ALL" >
			SELECT
			#{item.id,jdbcType=VARCHAR},
			#{item.type,jdbcType=VARCHAR},
			#{item.table_id,jdbcType=VARCHAR},
			#{item.field_name,jdbcType=VARCHAR},
			#{item.field_comment,jdbcType=VARCHAR},
			#{item.field_type,jdbcType=VARCHAR},
			#{item.field_operat,jdbcType=VARCHAR},
			#{item.field_list,jdbcType=VARCHAR},
			#{item.field_query,jdbcType=VARCHAR},
			#{item.query_type,jdbcType=VARCHAR},
			#{item.verify_rule,jdbcType=VARCHAR},
			#{item.show_type,jdbcType=VARCHAR},
			#{item.option_content,jdbcType=VARCHAR},
			#{item.default_value,jdbcType=VARCHAR},
			#{item.order_by,jdbcType=VARCHAR},
			#{item.remark,jdbcType=VARCHAR},#{item.create_time,jdbcType=VARCHAR},#{item.create_user,jdbcType=VARCHAR},#{item.create_organize,jdbcType=VARCHAR}
			from dual
		</foreach>
	</insert>


	<!--查询数据表分页列表-->
	<select id="findListPage" parameterType="com.qingfeng.util.Page" resultType="com.qingfeng.util.PageData">
		select
		a.id as "id",
		a.type as "type",
		a.table_name as "table_name",
		a.table_comment as "table_comment",
		a.temp_type as "temp_type",
		a.pack_path as "pack_path",
		a.mod_name as "mod_name",
		a.bus_name as "bus_name",
		a.menu_name as "menu_name",
		a.menu_id as "menu_id",
		a.gen_type as "gen_type",
		a.gen_path as "gen_path",
		a.more_add as "more_add",
		a.tree_id as "tree_id",
		a.tree_pid as "tree_pid",
		a.tree_name as "tree_name",
		a.order_by as "order_by",
		a.remark as "remark",
		a.create_time as "create_time",
		a.create_user as "create_user",
		a.create_organize as "create_organize",
		a.update_user as "update_user",
		a.update_time as "update_time",
		b.name as "menu_pname"
		from system_gentable a
		left join system_menu b on a.menu_id=b.id
		where 1=1
		<if test="pd.table_name != null and pd.table_name != ''">
			and a.table_name like concat('%',concat(#{pd.table_name},'%'))
		</if>
		<if test="pd.table_comment != null and pd.table_comment != ''">
			and a.table_comment like concat('%',concat(#{pd.table_comment},'%'))
		</if>
		<if test="pd.start_time != null and pd.start_time != ''">
			and a.create_time >= #{pd.start_time}
		</if>
		<if test="pd.end_time != null and pd.end_time != ''">
			and a.create_time <![CDATA[ <= ]]> #{pd.end_time}
		</if>
		order by a.order_by+0 asc , a.create_time desc
	</select>


	<!--查询数据表分页数量-->
	<select id="findListSize" parameterType="com.qingfeng.util.Page" resultType="Integer">
		select
		count(*)
		from system_gentable a
		where 1=1
		<if test="pd.table_name != null and pd.table_name != ''">
			and a.table_name like concat('%',concat(#{pd.table_name},'%'))
		</if>
		<if test="pd.table_comment != null and pd.table_comment != ''">
			and a.table_comment like concat('%',concat(#{pd.table_comment},'%'))
		</if>
		<if test="pd.start_time != null and pd.start_time != ''">
			and a.create_time >= #{pd.start_time}
		</if>
		<if test="pd.end_time != null and pd.end_time != ''">
			and a.create_time <![CDATA[ <= ]]> #{pd.end_time}
		</if>
	</select>


	<!--查询数据表分页列表-->
	<select id="findList" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
		select
		a.id as "id",
		a.type as "type",
		a.table_name as "table_name",
		a.table_comment as "table_comment",
		a.temp_type as "temp_type",
		a.pack_path as "pack_path",
		a.mod_name as "mod_name",
		a.bus_name as "bus_name",
		a.menu_name as "menu_name",
		a.menu_id as "menu_id",
		a.gen_type as "gen_type",
		a.gen_path as "gen_path",
		a.more_add as "more_add",
		a.tree_id as "tree_id",
		a.tree_pid as "tree_pid",
		a.tree_name as "tree_name",
		a.order_by as "order_by",
		a.remark as "remark",
		a.create_time as "create_time",
		a.create_user as "create_user",
		a.create_organize as "create_organize",
		a.update_user as "update_user",
		a.update_time as "update_time"
		from system_gentable a
		where 1=1
		<if test="table_name != null and table_name != ''">
			and a.table_name like concat('%',concat(#{table_name},'%'))
		</if>
		<if test="table_comment != null and table_comment != ''">
			and a.table_comment like concat('%',concat(#{table_comment},'%'))
		</if>
		<if test="start_time != null and start_time != ''">
			and a.create_time >= #{start_time}
		</if>
		<if test="end_time != null and end_time != ''">
			and a.create_time <![CDATA[ <= ]]> #{end_time}
		</if>
		<if test="excludeIds != null and excludeIds.size > 0">
			and a.id not in
			<foreach collection="excludeIds" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
		order by a.order_by+0 asc , a.create_time desc
	</select>

	<!--查询数据表详情-->
	<select id="findInfo" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
		select
			a.id as "id",
			a.type as "type",
			a.table_name as "table_name",
			a.table_comment as "table_comment",
			a.temp_type as "temp_type",
			a.pack_path as "pack_path",
			a.mod_name as "mod_name",
			a.bus_name as "bus_name",
			a.menu_name as "menu_name",
			a.menu_id as "menu_id",
			a.gen_type as "gen_type",
			a.gen_path as "gen_path",
			a.more_add as "more_add",
			a.status_type as "status_type",
			a.tree_id as "tree_id",
			a.tree_pid as "tree_pid",
			a.tree_name as "tree_name",
			a.order_by as "order_by",
			a.remark as "remark",
			a.create_time as "create_time",
			a.create_user as "create_user",
			a.create_organize as "create_organize",
			a.update_user as "update_user",
			a.update_time as "update_time",
			b.name as "m_name",
			c.table_comment as "tree_pid_comment",
			d.table_comment as "tree_name_comment"
			from system_gentable a
			left join system_menu b on a.menu_id=b.id
			left join system_gentable c on a.tree_pid=c.table_name
			left join system_gentable d on a.tree_name=d.table_name
			where a.id=#{id}
	</select>

	<!--更新数据表-->
	<update id="update" parameterType="com.qingfeng.util.PageData">
		update system_gentable set
			<if test="type != null">type=#{type},</if>
			<if test="table_name != null">table_name=#{table_name},</if>
			<if test="table_comment != null">table_comment=#{table_comment},</if>
			<if test="temp_type != null">temp_type=#{temp_type},</if>
			<if test="pack_path != null">pack_path=#{pack_path},</if>
			<if test="mod_name != null">mod_name=#{mod_name},</if>
			<if test="bus_name != null">bus_name=#{bus_name},</if>
			<if test="menu_name != null">menu_name=#{menu_name},</if>
			<if test="menu_id != null">menu_id=#{menu_id},</if>
			<if test="gen_type != null">gen_type=#{gen_type},</if>
			<if test="gen_path != null">gen_path=#{gen_path},</if>
			<if test="pack_path != null">pack_path=#{pack_path},</if>
			<if test="more_add != null">more_add=#{more_add},</if>
			<if test="status_type != null">status_type=#{status_type},</if>
			<if test="tree_id != null">tree_id=#{tree_id},</if>
			<if test="tree_pid != null">tree_pid=#{tree_pid},</if>
			<if test="tree_name != null">tree_name=#{tree_name},</if>
			<if test="order_by != null">order_by=#{order_by},</if>
			<if test="remark != null">remark=#{remark},</if>
			<if test="update_user != null">update_user=#{update_user},</if>
			update_time=#{update_time}
			where id=#{id}
	</update>

	<!--删除数据表-->
	<delete id="del" parameterType="String">
		delete from system_gentable where id in
			<foreach collection="array" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
	</delete>

	<!--查询字段表分页列表-->
	<select id="findFieldList" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
		select
		a.id as "id",
		a.type as "type",
		a.table_id as "table_id",
		a.field_name as "field_name",
		a.field_comment as "field_comment",
		a.field_type as "field_type",
		a.field_operat as "field_operat",
		a.field_list as "field_list",
		a.field_query as "field_query",
		a.query_type as "query_type",
		a.verify_rule as "verify_rule",
		a.show_type as "show_type",
		a.option_content as "option_content",
		a.default_value as "default_value",
		a.order_by as "order_by",
		a.remark as "remark",
		a.create_time as "create_time",
		a.create_user as "create_user",
		a.create_organize as "create_organize",
		a.update_user as "update_user",
		a.update_time as "update_time"
		from system_genfield a
		where a.table_id = #{table_id}
		<if test="excludeField != null and excludeField.size > 0">
			and a.field_name not in
			<foreach collection="excludeField" item="field_name" open="(" separator="," close=")">
				#{field_name}
			</foreach>
		</if>
		order by a.order_by+0 asc
	</select>

	<!--查询字段表分页列表-->
	<select id="findFieldInfo" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
		select
		a.id as "id",
		a.type as "type",
		a.table_id as "table_id",
		a.field_name as "field_name",
		a.field_comment as "field_comment",
		a.field_type as "field_type",
		a.field_operat as "field_operat",
		a.field_list as "field_list",
		a.field_query as "field_query",
		a.query_type as "query_type",
		a.verify_rule as "verify_rule",
		a.show_type as "show_type",
		a.option_content as "option_content",
		a.default_value as "default_value",
		a.order_by as "order_by",
		a.remark as "remark",
		a.create_time as "create_time",
		a.create_user as "create_user",
		a.create_organize as "create_organize",
		a.update_user as "update_user",
		a.update_time as "update_time"
		from system_genfield a
		where a.id = #{id}
	</select>

	<!--更新字段表-->
	<update id="updateField" parameterType="com.qingfeng.util.PageData">
		update system_genfield set
		<if test="type != null">type=#{type},</if>
		<if test="field_name != null">field_name=#{field_name},</if>
		<if test="field_comment != null">field_comment=#{field_comment},</if>
		<if test="field_type != null">field_type=#{field_type},</if>
		<if test="field_operat != null">field_operat=#{field_operat},</if>
		<if test="field_list != null">field_list=#{field_list},</if>
		<if test="field_query != null">field_query=#{field_query},</if>
		<if test="query_type != null">query_type=#{query_type},</if>
		<if test="verify_rule != null">verify_rule=#{verify_rule},</if>
		<if test="show_type != null">show_type=#{show_type},</if>
		<if test="option_content != null">option_content=#{option_content},</if>
		<if test="default_value != null">default_value=#{default_value},</if>
		<if test="order_by != null">order_by=#{order_by},</if>
		<if test="remark != null">remark=#{remark},</if>
		<if test="update_user != null">update_user=#{update_user},</if>
		update_time=#{update_time}
		where id=#{id}
	</update>


	<!--删除字段表-->
	<delete id="delField" parameterType="String">
		delete from system_genfield where table_id in
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>



</mapper>