<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.system.dao.LoginDao">

	<!--查询详情-->
	<select id="findUserInfo" parameterType="com.qingfeng.util.PageData" resultType="com.qingfeng.util.PageData">
		select
			a.id as "id",
			a.type as "type",
			a.login_name as "login_name",
			a.login_password as "login_password",
			a.name as "name",
			a.sex as "sex",
			a.phone as "phone",
			a.email as "email",
			a.birth_date as "birth_date",
			a.live_address as "live_address",
			a.birth_address as "birth_address",
			a.head_address as "head_address",
			a.motto as "motto",
			a.status as "status",
			a.order_by as "order_by",
			a.open_id as "open_id",
			a.init_password as "init_password",
			a.pwd_error_num as "pwd_error_num",
			a.pwd_error_time as "pwd_error_time",
			a.theme_id as "theme_id",
			a.depart_leader as "depart_leader",
			a.direct_leader as "direct_leader",
			a.branch_leader as "branch_leader",
			a.token as "token",
			a.token_refresh_time as "token_refresh_time",
			a.remark as "remark",
			a.create_time as "create_time",
			b.type as "theme_type",
			b.title as "theme_title",
			b.file_path as "theme_file_path",
			b.file_name as "theme_file_name"
			from system_user a
			left join system_theme b on a.theme_id=b.id
			where 1=1
			<if test="login_name != null and login_name != ''">
				and  a.login_name = #{login_name}
			</if>
			<if test="login_id != null and login_id != ''">
				and  a.id = #{login_id}
			</if>
			<if test="token != null and token != ''">
				and  a.token = #{token}
			</if>
	</select>



</mapper>